<div class="container">

<header>
   <h1>This is my first component</h1>
</header>
  
<nav>
  <ul>
    <li><a href="#">Angular JS</a></li>
    <li><a href="#">React JS</a></li>
    <li><a href="#">Node JS</a></li>
  </ul>
</nav>

<article>
  <h1>Description Angular 2</h1>
  <p>AngularJS is by far the most popular JavaScript framework available today for creating web applications. </p>
  <p>Now Angular 2 and TypeScript are bringing true object oriented web development to the mainstream, in a syntax that is strikingly close to Java 8.</p>
</article>

<footer>Copyright &copy; anu@gmail.com</footer>

</div>


